{% load static %}
<p class="Name-package-color About-me-title">About Me</p>
<p class="Name-package-color About-me-subtitle">Below you can find / learn some information about me if you are curious </p>
<div class="red-line"></div>
<div class="About-me-package">
    <div class="About-me-photo">
        <img src="{% static 'media/image/my-photo3.png' %}" height="450" alt="Picture describe me">
    </div>

    <div class="About-me-information">
        <p class="Name-package-color first-sentence">Hi Everyone</p>
        <p class="Name-package-color">My name is Marek Wojdyla I am a web developer.</p>
        <p class="Name-package-color">I started my journey with web development from
           the beginning of my studies in computer science.
            <p class="Name-package-color p-pading">Which I completed with a Master of Science degree in Computer Science.</p>
            <p class="Name-package-color">I am currently working as a freelancer</p>
            <p class="Name-package-color third-sentence">I enjoy a good cup of coffee and playing sports that give me an adrenaline rush.</p>
        </p>

        <div class="row">
            <div class="col-sm-6 col-3 column-margin">
                <p class="Name-package-color color-tag">Name:</p>
                <p class="Name-package-color p-pading">Marek Wojdyła</p>
            </div>
            <div class="col-sm-6 col-3">
                <p class="Name-package-color color-tag">Phone:</p>
                <p class="Name-package-color ">+48 576 204 408</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-3 column-margin">
                <p class="Name-package-color color-tag">Email:</p>
                <p class="Name-package-color ">mwojdyla0@gmail.com</p>
            </div>
            <div class="col-sm-6 col-3">
                <p class="Name-package-color color-tag">Linkedin:</p>
                <p class="Name-package-color">Linkedin.com</p>
            </div>
        </div>
    </div>
</div>