<p class="Up-title" >HAVE ANY QUERY</p>
<p class="Name-package-color About-me-title">Contact ME</p>
<p class="Name-package-color About-me-subtitle">If you are interested in my services I invite you to fill out the contact form below. Thanks for your trust together we will create amazing things</p>
<div class="red-line"></div>
<div class="Contact-packet-for-details">
    <div class="Contact-packet-secend">
        <div><img class="Contact-image" src="\media\image\Location-icon.png" width="35" alt="Image describe location icon"></div>
        <div>
            <p class="contact-details">Locate me</p>
            <p class="contact-details">Only online</p>
        </div>
    </div>
    <div class="Contact-packet-secend">
        <div><img class="Contact-image" src="\media\image\Call-icon.svg" width="35" alt="Image describe call icon"></div>
        <div>
            <a class="Contact-link" href="tel:576-204-408">
                <p class="contact-details">Give me a call</p>
                <p class="contact-details">+48 576-204-408</p>
            </a>
        </div>
    </div>
    <div class="Contact-packet-secend">
        <div><img class="Contact-image" src="\media\image\Email-icon.svg" width="35" alt="Image describe Email icon"></div>
        <div>
            <a class="Contact-link" href="mailto:mwojdyla0@gmail.com">
                <p class="contact-details">Get in online</p>
                <p class="contact-details">mwojdyla0@gmail.com</p>
            </a>
        </div>
    </div>
</div>

<form action="https://api.web3forms.com/submit" method="POST">
    <input type="hidden" name="access_key" value={{ BlogConfig.acces_key }}>
    <div class="row extra-margin-bottom">
        <div class="col-6">
            <input class="Contact-input" type="text" placeholder="Your Name" required>
        </div>
        <div class="col-6">
            <input class="Contact-input" type="text" placeholder="Your Email" required>
        </div>
    </div>
    <div class="row extra-margin-bottom">
        <div class="col-12">
            <input class="Contact-input" type="text" placeholder="Your subject" required>
        </div>
    </div>
    <div class="row extra-margin-bottom" >
        <div class="col-12">
            <textarea class="Contact-input" placeholder="Describe your case" required></textarea>
        </div>
    </div>
    <button class="Contact-button">Send Message</button>
</form>