
<div class="Footer-packet">
    
    <p class="contact-details footer-text extra-margin-bottom">Hi, if you are interested feel free to contact me via the form above or via one of the icons below.</p>
    <div class="Footer-packet-for-details">
        <div>
            <a class="Contact-link" href="tel:576-204-408">
                <img class="Footer-image" src="\media\image\Call-icon.svg" width="35" alt="Image describe call icon">
            </a>
        </div>
        <div>
            <a class="Contact-link" href="mailto:mwojdyla0@gmail.com">
                <img class="Footer-image" src="\media\image\Email-icon.svg" width="35" alt="Image describe Email icon">
            </a>
        </div>
    </div>
    <p class="contact-details footer-text">copyright &copy; {% now "Y" %} All Rights Reserved by Marek Wojdyła</p>
</div>

