{% load static %}
<p class="Mid-title">Projects</p>
<p class="Mid-title">Show Case</p>

<div class="Projects-packet">
    <div>
        <p class="Projects-title">Layer Website</p>
    </div>
    <div>
        <p class="Projects-title">Association Mediators</p>
    </div>
    <div >
        <p class="Projects-title">Energy Certyficates</p>
    </div>
    <div >
        <p class="Projects-title">Holiday relaxation</p>
    </div>
</div>

<div class="Projects-img-packet">

    <div class="row project-margin">
        <div class="col-sm-12 text-sm-center col-xl-6">
            <a href="https://radca-lezajsk.pl/" target="_blank"><img class="Projects-img" src="{% static 'media/image/Project-layer-pic3.png' %}"   alt="Picture describe website about lawer 1"></a>
        </div>
        <div class="d-sm-none d-xl-block col-xl-6">
            <a href="https://radca-lezajsk.pl/" target="_blank"><img class="Projects-img" src="{% static 'media/image/Project-layer-pic2.png' %}"  alt="Picture describe website about lawer 2"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-sm-center col-xl-6">
            <a href="https://radca-lezajsk.pl/" target="_blank"><img class="Projects-img" src="{% static 'media/image/Project-layer-pic1.png' %}"  alt="Picture describe website about lawer 3"></a>
        </div>
        <div class="d-sm-none d-xl-block col-xl-6">
            <a href="https://radca-lezajsk.pl/" target="_blank"><img class="Projects-img" src="{% static 'media/image/Project-layer-pic4.png' %}"  alt="Picture describe website about lawer 4"></a>
        </div>
    </div>

</div>

<div class="Projects-img-packet Projects-img-packet-visibility">

    <div class="row project-margin">
        <div class="col-sm-12 text-sm-center col-xl-6">
          <a href="https://skrzydla-porozumienia.pl/" target="_blank"><img class="Projects-img" src="{% static 'media/image/Association-img1.png' %}"   alt="Picture describe website about Association of mediators wings of help picture 1"></a>
        </div>
        <div class="d-sm-none d-xl-block col-xl-6">
            <a href="https://skrzydla-porozumienia.pl/" target="_blank"><img class="Projects-img" src="{% static 'media/image/Association-img2.png' %}"  alt="Picture describe website about Association of mediators wings of help picture 2"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-sm-center col-xl-6">
            <a href="https://skrzydla-porozumienia.pl/" target="_blank"><img class="Projects-img" src="{% static 'media/image/Association-img3.png' %}"  alt="Picture describe website about Association of mediators wings of help picture 3"></a>
        </div>
        <div class="d-sm-none d-xl-block col-xl-6">
            <a href="https://skrzydla-porozumienia.pl/" target="_blank"><img class="Projects-img" src="{% static 'media/image/Association-img4.png' %}"  alt="Picture describe website about Association of mediators wings of help picture 4"></a>
        </div>
    </div>

</div>

<div class="Projects-img-packet Projects-img-packet-visibility">

    <div class="row project-margin">
        <div class="col-sm-12 text-sm-center col-xl-6">
            <a href="https://swiadectwaenergetyczne.valuationhub.pl"><img class="Projects-img" src="{% static 'media/image/Energy-certyficates-img1.png' %}"   alt="Picture describe website about Energy Certyficates picture 1"> </a>
        </div>
        <div class="d-sm-none d-xl-block col-xl-6">
            <a href="https://swiadectwaenergetyczne.valuationhub.pl"><img class="Projects-img" src="{% static 'media/image/Energy-certyficates-img2.png' %}"   alt="Picture describe website about Energy Certyficates picture 2"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-sm-center col-xl-6">
            <a href="https://swiadectwaenergetyczne.valuationhub.pl"><img class="Projects-img" src="{% static 'media/image/Energy-certyficates-img3.png' %}"   alt="Picture describe website about Energy Certyficates picture 3"></a>
        </div>
        <div class="d-sm-none d-xl-block col-xl-6">
            <a href="https://swiadectwaenergetyczne.valuationhub.pl"><img class="Projects-img" src="{% static 'media/image/Energy-certyficates-img4.png' %}"   alt="Picture describe website about Energy Certyficates picture 4"></a>
        </div>
    </div>

</div>

<div class="Projects-img-packet Projects-img-packet-visibility">

    <div class="row project-margin">
        <div class="col-sm-12 text-sm-center col-xl-6">
            <a href="https://marek-wojdyla.github.io/Project-thailand-website/"><img class="Projects-img" src="{% static 'media/image/Thailand-web-img1.png' %}"   alt="Picture describe website about Thailand Paradaise picture 1"></a>
        </div>
        <div class="d-sm-none d-xl-block col-xl-6">
            <a href="https://marek-wojdyla.github.io/Project-thailand-website/"><img class="Projects-img" src="{% static 'media/image/Thailand-web-img2.png' %}"  alt="Picture describe website about Thailand Paradaise picture 2"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-sm-center col-xl-6">
            <a href="https://marek-wojdyla.github.io/Project-thailand-website/"><img class="Projects-img" src="{% static 'media/image/Thailand-web-img4.png' %}"  alt="Picture describe website about Thailand Paradaise picture 3"></a>
        </div>
        <div class="d-sm-none d-xl-block col-xl-6">
            <a href="https://marek-wojdyla.github.io/Project-thailand-website/"><img class="Projects-img" src="{% static 'media/image/Thailand-web-img5.png' %}"  alt="Picture describe website about Thailand Paradaise picture 4"></a>
        </div>
    </div>

</div>