<p class="Up-title extra-margin">Services</p>
<p class="Mid-title">My Services</p>
<p class="Name-package-color About-me-subtitle">The following is a description of the services it provides</p>
<div class="red-line"></div>
<p class="title-row">How i create my projects</p>
<div class="row margin-card">
  <div class="col-sm-6 col-xl-3 col-3 space-between-card">
    <div class="height-card">
      <div class="card-body">
        <h5 class="card-title">Step one</h5>
        <p class="card-text">I meet with the client either onsite or remotely.
           I then establish what they need. I send an initial sketch of how I see the project</p>
      </div>
  </div>
  </div>
  <div class="col-sm-6 col-xl-3 col-3">
    <div class="height-card">
      <div class="card-body">
        <h5 class="card-title">Step two</h5>
        <p class="card-text">I discuss with the client whether we are carrying out
           a pre-prepared draft or whether we are adding new things or improving things already added</p>
      </div>
  </div>
  </div>
  <div class="col-sm-6 col-xl-3 col-3">
    <div class="height-card">
      <div class="card-body">
        <h5 class="card-title">Step three</h5>
        <p class="card-text">I create a project (i.e. Web or mobile application) based on the agreed graphic design</p>
      </div>
  </div>
  </div>
  <div class="col-sm-6 col-xl-3 col-3">
    <div class="height-card">
      <div class="card-body">
        <h5 class="card-title">Step four</h5>
        <p class="card-text">I arrange a meeting to present the completed project and discuss other details of the order.</p>
      </div>
    </div>
  </div>
</div>
<p class="title-row">What things i do</p>
<div class="row">
  <div class="col-sm-6 col-xl-3 col-3 space-between-card">
    <div class="card">
      <div class="card-body extra-body">
        <img class="technology-img" src="\media\image\design-icon.png" width="76" alt="Web design icon">
        <p class="title-img">Web Design</p>
      </div>
  </div>
  </div>
  <div class="col-sm-6 col-xl-3 col-3">
    <div class="card">
      <div class="card-body extra-body">
        <img class="technology-img" src="\media\image\web-application.png" width="76" alt="Web application icon">
        <p class="title-img">Web Application</p>
      </div>
  </div>
  </div>
  <div class="col-sm-6 col-xl-3 col-3">
    <div class="card">
      <div class="card-body extra-body">
        <img class="technology-img" src="\media\image\mobile-icon.svg" width="76" alt="Mobile application icon">
        <p class="title-img">Mobile Application</p>
      </div>
  </div>
  </div>
  <div class="col-sm-6 col-xl-3 col-3">
    <div class="card" >
      <div class="card-body extra-body">
        <img class="technology-img" src="\media\image\Seo-icon.svg" width="76" alt="Seo icon">
        <p class="title-img">SEO</p>
      </div>
  </div>
  </div>
</div>
