<p class="Up-title-mobile">Skills</p>
<img class="Skills-img" src="\media\image\skill-img.svg" alt="Helped photo describe skills">
<p class="Skill-track-title">Front-end:</p>
<div class="row margin-after-logo">
        <div class="col-sm-3 col-xxl-2 first-logo-margin">
            <div class="package-for-img">
                <img src="\media\image\Html-logo.svg" alt="logo HTML">
                <p class="skills-title-img">HTML</p>
            </div>
        </div>
    <div class="col-sm-3 col-xxl-2">
        <div class="package-for-img">
            <img src="\media\image\Css-logo.svg" alt="logo CSS">
            <p class="skills-title-img">CSS</p>
        </div>
    </div>
    <div class="col-sm-3 col-xxl-2">
        <div class="package-for-img">
            <img src="\media\image\Js-logo.svg" alt="logo JS">
            <p class="skills-title-img">Java-Script</p>
        </div>
    </div>
    <div class="col-sm-3 col-xxl-2">
        <div class="package-for-img">
            <img src="\media\image\Ts-logo.svg" alt="logo TS">
            <p class="skills-title-img">TypeScript</p>
        </div>
    </div>
    <p class="Skill-track-title center-side">Back-end:</p>
    <div class="col-sm-6 col-xxl-2 space-row">
        <div class="package-for-img">
            <img src="\media\image\Python-logo.svg" alt="Logo-Python">
            <p class="skills-title-img">Python</p>
        </div>
    </div>
    <div class="col-sm-6 col-xxl-2">
        <div class="package-for-img">
            <img src="\media\image\Django-logo.svg" alt="Logo-Django">
            <p class="skills-title-img">Django</p>
        </div>
    </div>
</div>
<img class="skill-d-a-img" src="\media\image\Data-analyst.svg" alt="Image show title data analyst ">
<p class="Skill-track-title">Data Analyst:</p>
<div class="Skills-package-for-img">
    <div class="col-sm-4">
        <img src="\media\image\Numpy-logo.svg" alt="logo Numpy">
        <p class="skills-title-img">Numpy</p>
    </div>
    <div class="col-sm-4">
        <img src="\media\image\Sql-logo.svg" width="96" alt="logo SQL">
        <p class="skills-title-img">SQL</p>
    </div>
    <div class="col-sm-4 ">
        <img src="\media\image\Pandas-logo.svg"  alt="logo Pandas">
        <p class="skills-title-img">Pandas</p>
    </div>
</div>